<?xml version='1.0' encoding='utf-8'?>
<widget android-versionCode="224" version="2.4.224" versionCode="224" xmlns="http://www.w3.org/ns/widgets" xmlns:android="http://schemas.android.com/apk/res/android" xmlns:cdv="http://cordova.apache.org/ns/1.0" xmlns:tools="http://schemas.android.com/tools" id="de.opensprinklershop.sprinklers" >
  <name>OpenSprinklerASB</name>
  <description>
            Designed to allow intuitive control of the OpenSprinkler irrigation controller.
            Added Analog Sensor Api by Stefan Schmaltz OpenSprinklerShop
        </description>
  <author email="info@opensprinklershop.de" href="https://opensprinklershop.de/">
            Stefan Schmaltz
        </author>
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="*" />
    <allow-navigation href="*" />
    <preference name="WebSecurity" value="disable" />
    <preference name="KeepRunning" value="false" />
    <preference name="BackgroundColor" value="0x001c1c1c" />
    <preference name="DisallowOverscroll" value="true" />
    <preference name="webviewbounce" value="false" />
    <preference name="HideMousePointer" value="1" />
    <preference name="WindowSize" value="900x760" />
    <preference name="EnableWebGL" value="true" />
    <preference name="AutoHideSplashScreen" value="false" />
    <preference name="ShowSplashScreenSpinner" value="false" />
    <preference name="FadeSplashScreen" value="false" />
    <preference name="KeyboardDisplayRequiresUserAction" value="false" />
    <preference name="loadUrlTimeoutValue" value="700000" />
    <platform name="ios">
        <custom-preference name="ios-XCBuildConfiguration-PRODUCT_BUNDLE_IDENTIFIER[sdk=macosx*]" value="com.albahra.Sprinklers.osx" buildType="release" />
        <preference name="deployment-target" value="15.0" />
        <preference name="scheme" value="file" />
        <resource-file src="GoogleService-Info.plist" />
        <config-file target="*-Info.plist" parent="NSLocationAlwaysAndWhenInUseUsageDescription">
            <string>Your current location will be used to configure OpenSprinkler.</string>
        </config-file>
        <config-file target="*-Info.plist" parent="NSLocationAlwaysUsageDescription">
            <string>Your current location will be used to configure OpenSprinkler.</string>
        </config-file>
        <config-file target="*-Info.plist" parent="NSLocationWhenInUseUsageDescription">
            <string>Your current location will be used to configure OpenSprinkler.</string>
        </config-file>
        <config-file target="*-Info.plist" parent="NSPhotoLibraryUsageDescription">
            <string>Your photo library is used to provide an image for your stations.</string>
        </config-file>
        <config-file target="*-Info.plist" parent="NSCameraUsageDescription">
            <string>Your camera is used to provide an image for your stations.</string>
        </config-file>
        <config-file target="*-Info.plist" parent="ITSAppUsesNonExemptEncryption">
            <false/>
        </config-file>
        <config-file target="*-Info.plist" parent="NSAppTransportSecurity">
            <dict>
                <!-- Disable ATS for all network connections (allows self-signed certs) -->
                <key>NSAllowsArbitraryLoads</key>
                <true/>
                <!-- Explicitly allow WKWebView connections to bypass cert validation -->
                <key>NSAllowsArbitraryLoadsInWebContent</key>
                <true/>
                <!-- Allow plain HTTP to local devices (needed for IP-based connections) -->
                <key>NSAllowsLocalNetworking</key>
                <true/>
            </dict>
        </config-file>
        <edit-config target="CFBundleShortVersionString" file="*-Info.plist" mode="overwrite">
            <string>19960</string>
        </edit-config>
        <config-file target="*-Info.plist" overwrite="true" parent="LSApplicationCategoryType">
            <string>public.app-category.utilities</string>
        </config-file>
        <splash height="480" src="res/ios/screens/startup.png" width="320" />
        <splash height="960" src="res/ios/screens/startup-retina.png" width="640" />
        <splash height="1136" src="res/ios/screens/startup-iphone5-retina.png" width="640" />
        <splash height="1334" src="res/ios/screens/startup-iphone6-portrait.png" width="750" />
        <splash height="750" src="res/ios/screens/startup-iphone6-landscape.png" width="1334" />
        <splash height="2208" src="res/ios/screens/startup-iphone6plus-portrait.png" width="1242" />
        <splash height="1242" src="res/ios/screens/startup-iphone6plus-landscape.png" width="2208" />
        <splash height="768" src="res/ios/screens/startup-tablet-landscape.png" width="1024" />
        <splash height="1024" src="res/ios/screens/startup-tablet-portrait.png" width="768" />
        <splash height="1536" src="res/ios/screens/startup-tablet-landscape-retina.png" width="2048" />
        <splash height="2048" src="res/ios/screens/startup-tablet-portrait-retina.png" width="1536" />
        <splash height="2436" src="res/ios/screens/startup-iphonex-portrait.png" width="1125" />
        <splash height="1125" src="res/ios/screens/startup-iphonex-landscape.png" width="2436" />
        <splash height="2732" src="res/ios/screens/startup@2x~universal~anyany.png" width="2732" />
        <icon height="1024" src="res/ios/icons/icon-1024.png" width="1024" />
        <icon height="114" src="res/ios/icons/icon@2x.png" width="114" />
        <icon height="40" src="res/ios/icons/icon-40.png" width="40" />
        <icon height="80" src="res/ios/icons/icon-40@2x.png" width="80" />
        <icon height="50" src="res/ios/icons/icon-50.png" width="50" />
        <icon height="100" src="res/ios/icons/icon-50@2x.png" width="100" />
        <icon height="60" src="res/ios/icons/icon-60.png" width="60" />
        <icon height="167" src="res/ios/icons/icon-83.5@2x.png" width="167" />
        <icon height="29" src="res/ios/icons/icon-small.png" width="29" />
        <icon height="58" src="res/ios/icons/icon-small@2x.png" width="58" />
        <icon height="87" src="res/ios/icons/icon-small@3x.png" width="87" />
        <icon height="57" src="res/ios/icons/icon-57.png" width="57" />
        <icon height="120" src="res/ios/icons/icon-60@2x.png" width="120" />
        <icon height="180" src="res/ios/icons/icon-60@3x.png" width="180" />
        <icon height="72" src="res/ios/icons/icon-72.png" width="72" />
        <icon height="144" src="res/ios/icons/icon-72@2x.png" width="144" />
        <icon height="76" src="res/ios/icons/icon-76.png" width="76" />
        <icon height="152" src="res/ios/icons/icon-76@2x.png" width="152" />
    </platform>
    <platform name="android">
        <!--
            NOTE: android:usesCleartextTraffic and android:networkSecurityConfig are
            applied to <application> by hooks/after_prepare/03-android-application-security-attrs.js.
            A previous <edit-config mode="merge" target="/manifest/application"> was removed
            because it rewrites <application> on every prepare and strips plugin-injected
            children (e.g. cordova-plugin-firebasex-messaging's FirebaseMessagingService),
            which silently broke push notifications.
        -->
        <!-- Fail-safe: avoid infinite logo/splash when deviceready or JS init stalls. -->
        <preference name="AutoHideSplashScreen" value="true" />
        <preference name="SplashScreenDelay" value="3000" />
        <resource-file src="res/android/network_security_config.xml" target="app/src/main/res/xml/network_security_config.xml" />
        <!-- Monochrome small icon for FCM/local notifications. Without it Android
             renders the full-colour launcher icon as a white square. -->
        <resource-file src="res/android/notification/drawable-mdpi/notification_icon.png" target="app/src/main/res/drawable-mdpi/notification_icon.png" />
        <resource-file src="res/android/notification/drawable-hdpi/notification_icon.png" target="app/src/main/res/drawable-hdpi/notification_icon.png" />
        <resource-file src="res/android/notification/drawable-xhdpi/notification_icon.png" target="app/src/main/res/drawable-xhdpi/notification_icon.png" />
        <resource-file src="res/android/notification/drawable-xxhdpi/notification_icon.png" target="app/src/main/res/drawable-xxhdpi/notification_icon.png" />
        <resource-file src="res/android/notification/drawable-xxxhdpi/notification_icon.png" target="app/src/main/res/drawable-xxxhdpi/notification_icon.png" />
        <config-file target="AndroidManifest.xml" parent="/manifest/application">
            <meta-data android:name="com.google.firebase.messaging.default_notification_icon" android:resource="@drawable/notification_icon" />
        </config-file>
        <config-file target="AndroidManifest.xml" parent="queries">
            <intent>
                <action android:name="android.media.action.IMAGE_CAPTURE" />
            </intent>
            <intent>
                <action android:name="android.intent.action.GET_CONTENT" />
            </intent>
        </config-file>
        <config-file target="AndroidManifest.xml" parent="/manifest">
            <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
            <uses-permission android:name="com.google.android.gms.permission.AD_ID" tools:node="remove" />
        </config-file>
        <!--
        <edit-config file="app/src/main/AndroidManifest.xml" mode="merge" target="/manifest/application">
        	<application android:debuggable="true" />
	</edit-config>-->
        <preference name="Scheme" value="http" />
        <preference name="MixedContentMode" value="0" />
        <preference name="android-minSdkVersion" value="24" />
        <preference name="android-targetSdkVersion" value="36" />
        <!-- compileSdk 36 (Android 16) requires AGP >= 8.9.1; cordova-android 14 defaults to 8.7.3 -->
        <preference name="AndroidGradlePluginVersion" value="8.9.1" />
        <preference name="android-theme" value="@android:style/Theme.Holo.Light.NoActionBar" />
        <preference name="AndroidWindowSplashScreenAnimatedIcon" value="res/android/screens/splash.png" />
        <preference name="AndroidWindowSplashScreenBackground" value="#1c1c1c" />
        <icon density="ldpi" src="res/android/icons/ldpi.png" />
        <icon density="mdpi" src="res/android/icons/mdpi.png" />
        <icon density="hdpi" src="res/android/icons/hdpi.png" />
        <icon density="xhdpi" src="res/android/icons/xhdpi.png" />
        <icon density="xxhdpi" src="res/android/icons/xxhdpi.png" />
    </platform>

    <hook type="before_prepare" src="hooks/before_prepare/01-hide-android-res.js" />
    <hook type="after_prepare" src="hooks/after_prepare/01-restore-android-res.js" />
    <hook type="after_prepare" src="hooks/patch-android-statusbar.js" />
    <hook type="after_prepare" src="hooks/after_prepare/03-android-application-security-attrs.js" />
    <hook type="after_prepare" src="hooks/after_prepare/04-copy-cordova-into-version-bundles.js" />
    <hook type="after_prepare" src="hooks/after_prepare/05-ios-googlemaps-build-phase.js" />
    <hook type="after_prepare" src="hooks/after_prepare.js" />
</widget>
