[
  {
    "id": "aqara_temp_humidity_temp",
    "name": "Aqara Temperature & Humidity Sensor",
    "description": "Temperature measurement",
    "endpoint": "1",
    "cluster_id": "0x0402",
    "attribute_id": "0x0000",
    "poll_interval": "60000",
    "unitid": "2",
    "unit": "°C",
    "factor": "100",
    "divider": "1",
    "offset": "0"
  },
  {
    "id": "aqara_temp_humidity_hum",
    "name": "Aqara Temperature & Humidity Sensor",
    "description": "Humidity measurement",
    "endpoint": "1",
    "cluster_id": "0x0405",
    "attribute_id": "0x0000",
    "poll_interval": "60000",
    "unitid": "5",
    "unit": "%",
    "factor": "100",
    "divider": "1",
    "offset": "0"
  },
  {
    "id": "tuya_soil_moisture",
    "name": "Tuya Soil Moisture Sensor",
    "description": "Soil moisture measurement",
    "endpoint": "1",
    "cluster_id": "0x0408",
    "attribute_id": "0x0000",
    "poll_interval": "60000",
    "unitid": "1",
    "unit": "%",
    "factor": "100",
    "divider": "1",
    "offset": "0"
  },
  {
    "id": "generic_temp",
    "name": "Generic Temperature Sensor",
    "description": "Temperature measurement",
    "endpoint": "1",
    "cluster_id": "0x0402",
    "attribute_id": "0x0000",
    "poll_interval": "60000",
    "unitid": "2",
    "unit": "°C",
    "factor": "100",
    "divider": "1",
    "offset": "0"
  },
  {
    "id": "generic_humidity",
    "name": "Generic Humidity Sensor",
    "description": "Humidity measurement",
    "endpoint": "1",
    "cluster_id": "0x0405",
    "attribute_id": "0x0000",
    "poll_interval": "60000",
    "unitid": "5",
    "unit": "%",
    "factor": "100",
    "divider": "1",
    "offset": "0"
  },
  {
    "id": "generic_illuminance",
    "name": "Generic Illuminance Sensor",
    "description": "Light level measurement",
    "endpoint": "1",
    "cluster_id": "0x0400",
    "attribute_id": "0x0000",
    "poll_interval": "60000",
    "unitid": "13",
    "unit": "lx",
    "factor": "1",
    "divider": "1",
    "offset": "0"
  },
  {
    "id": "sonoff_temp_humidity_temp",
    "name": "Sonoff Temperature & Humidity Sensor",
    "description": "Temperature measurement",
    "endpoint": "1",
    "cluster_id": "0x0402",
    "attribute_id": "0x0000",
    "poll_interval": "60000",
    "unitid": "2",
    "unit": "°C",
    "factor": "100",
    "divider": "1",
    "offset": "0"
  },
  {
    "id": "sonoff_temp_humidity_hum",
    "name": "Sonoff Temperature & Humidity Sensor",
    "description": "Humidity measurement",
    "endpoint": "1",
    "cluster_id": "0x0405",
    "attribute_id": "0x0000",
    "poll_interval": "60000",
    "unitid": "5",
    "unit": "%",
    "factor": "100",
    "divider": "1",
    "offset": "0"
  }
]
