<?xml version='1.0' encoding='utf-8'?>
<widget android-versionCode="220" id="de.opensprinklershop.sprinklers" version="2.4.220" versionCode="220" xmlns="http://www.w3.org/ns/widgets" xmlns:android="http://schemas.android.com/apk/res/android" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>OpenSprinklerASB</name>
    <description>
            Designed to allow intuitive control of the OpenSprinkler irrigation controller.
            Added Analog Sensor Api by Stefan Schmaltz OpenSprinklerShop
        </description>
    <author email="info@opensprinklershop.de" href="https://opensprinklershop.de/">
            Stefan Schmaltz
        </author>
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="*" />
    <allow-navigation href="*" />
    <hook src="hooks/before_prepare/01-hide-android-res.js" type="before_prepare" />
    <hook src="hooks/after_prepare/01-restore-android-res.js" type="after_prepare" />
    <hook src="hooks/after_prepare.js" type="after_prepare" />
    <preference name="WebSecurity" value="disable" />
    <preference name="KeepRunning" value="false" />
    <preference name="BackgroundColor" value="0x001c1c1c" />
    <preference name="DisallowOverscroll" value="true" />
    <preference name="webviewbounce" value="false" />
    <preference name="HideMousePointer" value="1" />
    <preference name="WindowSize" value="900x760" />
    <preference name="EnableWebGL" value="true" />
    <preference name="AutoHideSplashScreen" value="false" />
    <preference name="ShowSplashScreenSpinner" value="false" />
    <preference name="FadeSplashScreen" value="false" />
    <preference name="KeyboardDisplayRequiresUserAction" value="false" />
    <preference name="loadUrlTimeoutValue" value="700000" />
</widget>
